@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">RevellaClothing</h1>
    <p class="dropdown-item-text">
        The ultimate clothing to see the world in

    </p>
</div>

<div class="container">
    <div class="row">
        <div class="col-3">
            <img src="~/images/men.jpg" class="img-thumbnail img-fluid">
        </div>
        <div class="col-3">
            <img src="~/images/men2.jpg" class="img-thumbnail img-fluid">
        </div>
        <div class="col-3">
            <img src="~/images/baby.jpg" class="img-thumbnail img-fluid">
        </div>
        <div class="w-100"></div>
        <div class="col-3">
            <img src="~/images/fem.jpg" class="img-thumbnail img-fluid">
        </div>
        <div class="col-3">
            <img src="~/images/fem2.jpg" class="img-thumbnail img-fluid">
        </div>
        <div class="col-3">
            <img src="~/images/baby2.jpg" class="img-thumbnail img-fluid">
        </div>
    </div>

</div>







